:root {
    /* COLORS */
    --main-color: #434455;
    --dark-grey:#2E2F42;
    --blue:#4D5AE5;
    --bg-grey:#F4F4FD;
    --white:#FFFFFF;
    --black:#000000;
    --green:#31D0AA;
    --hover:#404BBF;
    --border:#E7E9FC;
    --custom-border:#8E8F99;

    /* FONT-FAMILY */
    --roboto:'Roboto', sans-serif;
    --ralewey:'Raleway',sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* DEFAULT */
.no-scroll{
    overflow: hidden;
}

.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.container{
    /* width: 1158px; */
    width: 428px;
    padding: 0 15px;
    margin: 0 auto;
}
@media screen and (max-width: 428px) {
    .container {
        width: unset;
        max-width: 428px;
    }
}
@media screen and (min-width: 768px) {
.container{
    width: 768px;
}
}
@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
}
.wrapper{
    display: flex;
    align-items: center;

}
.default-btn{
    border: none;
        background-color: transparent;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* DEFAULT */

body{
    background-color:var(--white);
    color: var(--main-color);
    font-family:var(--roboto) ;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo{
    font-family: var(--ralewey);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--blue);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header_logo{
        padding: 24px 0;
}
.header_decor-logo{
    color:var(--dark-grey)
}

.burger-menu_close-icon {
    position: absolute;
    top: 24px;
    right: 24px;
}
@media screen and (min-width: 768px) {
    .burger-menu_close-icon {
          display: none;
        }
}
.mobile-menu{
    padding: 80px 40px 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
transform: translateX(0);
    transition:transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.none {
    transform: translateX(-100%);

}

.mobile-menu .footer_social {
    gap: 56px;
    justify-content: flex-start;
}
@media screen and (min-width:320px) and (max-width:427px) {
.mobile-menu .footer_social{
    gap: 25px;
}
}


@media screen and (min-width: 768px) {
.mobile-menu{
    padding: 0;
    width: unset;
    height: unset;
    position: unset;
    background-color: transparent;
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
        .mobile-menu .footer_social {
            display: none;
        }
        .burger-menu_icon{
            display: none;
        }
}
@media screen and (min-width: 1158px) {
.mobile-menu{
    width: 100%;
}

}


.menu{
    display: flex;
    flex-direction: column;
        align-items: baseline;
    gap: 40px;

}
@media screen and (min-width: 768px) {
.menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
            margin: 0 120px;
    }
}
@media screen and (min-width: 1158px) {
    .menu {
   margin: 0;
   margin-left: 76px;
    }

}
/* --------------Burger-Menu------------ */
.burger-menu {
    cursor: pointer;
    margin-left: auto;
}

.menu_link{
        font-weight: 700;
        font-size: 36px;
    line-height: 1.11;
        letter-spacing: 0.02em;
            text-transform: capitalize;
    color: var(--dark-grey);
    display: block;

    position: relative;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
.menu_link {
font-weight: 500;
font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark-grey);
        display: block;

        position: relative;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .menu_link.menu_link.current::after{
        bottom: -1px;
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--hover);
        border-radius: 2px;
        left: 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
}


.menu_link:hover,
.menu_link:focus,
.menu_link.current{
    color: var(--hover);
}
.contacts{
    font-style: normal;
}
.contacts-list{
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
.contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
 margin-bottom: 0;
    }
}
@media screen and (min-width: 1158px) {
   .contacts-list{
    flex-direction: row;
    gap: 40px;
   }

}

.contacts_link{
    display: block;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts_link-number{
    min-width: 353px;
    color: var(--blue);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
@media screen and (min-width:320px) and (max-width:427px) {
    .contacts_link-number {
            min-width: 284px;
            color: var(--blue);
            font-weight: 700;
            font-size: 26px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
        }
}
@media screen and (min-width: 768px) {
    .contacts_link-number,
    .contacts_link {
color: var(--main-color);
    min-width: unset;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;


        }
}
@media screen and (min-width: 1158px) {
    .contacts_link-number,
        .contacts_link {
            color: var(--main-color);
            min-width: unset;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;

}
}
.contacts a:hover,
.contacts a:focus{
        color: var(--hover);
}
.hero{
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--dark-grey);
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
padding: 112px 0;

}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg-mobile@2x.jpg);
    }
}
@media screen and (min-width: 768px) {
    .hero {
         
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tablet.jpg);
        }

                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg-tablet@2x.jpg);                    }
                }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2xjpg.jpg);
            }
        }
    }

.hero_title{
    max-width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--white);
     margin: 0 auto 48px auto;


}
.hero_btn{
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--white);
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
display: block;
    padding: 16px 32px;
    min-width: 169px;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_btn:hover,.hero_btn:focus{
    background-color: var(--hover);
}

.advatages{
 padding: 96px 0;
}
.advatages_list{
    gap: 24px;
}
@media screen and (min-width: 768px) {
 .advatages_list{
    display: flex;
    flex-wrap: wrap;
 }
}
@media screen and (min-width: 1158px) {
   .advatages{
    padding: 120px 0;
   }
   .advatages_list{
    flex-wrap: nowrap;
   }
}

.advatages_item{
 
    min-width:264px;
}
@media screen and (min-width: 768px) {
.advatages_item {

        max-width: 356px;
    }
}


.advatages_item:not(:last-child){
    margin-bottom: 72px;
}
@media screen and (min-width: 1158px) {
    .advatages_item:not(:last-child) {
        margin-bottom: 0;
    }
}
.advatages_image{
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
padding: 24px 100px;
background-color: var(--bg-grey);
border-radius: 4px;
margin-bottom: 8px;
}

@media screen and (min-width: 1158px) {
  .advatages_image{
    display: block;
  }

}
.advatages_subtitle{
    text-align: center;
        color: var(--dark-grey);
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .advatages_subtitle{
        text-align: unset;
    }
}

@media screen and (min-width: 1158px) {
    .advatages_subtitle{
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
    }
}
.our-job{
    display: none;
    padding-bottom: 120px;
}
@media screen and (min-width: 1158px) {
   .our-job{
    display: block;
   }
}
.our-job_list{
    gap: 24px;
}
.our-job_title{
    margin-bottom: 72px;
}
.subtitle{


}

.title{
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.team{
    background-color: var(--bg-grey);
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
}
.team_list{
max-width: 264px;
margin: 0 auto;
}
@media screen and (min-width: 768px) {
   .team_list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  max-width: 100%;
  
   }
   .team-container{
width: 582px;

   }

}
@media screen and (min-width: 1158px) {
  .team_list{
    flex-wrap: nowrap;
  }
  .team-container{
        width: 1158px;
  }
}
.team_title{
    margin-bottom: 72px;
}
.wrap-content{
    padding: 32px 16px;
}
.wrap-content.border{
    border: 1px solid var(--border);
        border-top: transparent;
}
.team_item{
 
    background-color: var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
   .team_item{
    max-height: 428px;
   }

}
.team_item:not(:last-child){
    margin-bottom: 72px;
}
.team_role{
    text-align: center;
    margin-bottom: 8px;
}
.team_name{
    text-align: center;
    margin-bottom: 8px;
}
.team_social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-social-item{
    width: 40px;
    height: 40px;
}
.social-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--blue);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team_social-link:hover,
.team_social-link:focus
{
    background-color:var(--hover) ;
}


.team_social-icon{
    fill: var(--bg-grey);
    width: 16px;
    height: 16px;
}
.customers{
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .customers{
        padding: 120px 0;
    }
}
.customers_title{
    margin-bottom: 72px;
}
.customers_logo{
    display: flex;
            flex-wrap: wrap;
    row-gap:72px;
    column-gap: 16px;
    align-items: center;
}
.customers_logo-item{
    width: calc((100% - 16px) / 2);
    height: 88px;
}
@media screen and (min-width: 768px) {
   .customers_logo-item{
        width: calc((100% - 32px) / 3);
   }
   .customers-container{
    width: 582px;
   }

}
@media screen and (min-width: 1158px) {
.customers_logo-item{
        width: calc((100% - 120px) / 6);
}

   .customers-container{
    width: 1158px;
   }
}
.customers_link{
    width: 100%;
    height: 100%;
    border: 1px solid var(--custom-border);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--custom-border);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers_link:hover,
.customers_link:focus{
    border-color:var(--hover);
    color: var(--hover);
}
.customers_logo-svg{
    fill:currentColor;
}

.footer{
    text-align: center;
    background-color: var(--dark-grey);
    padding: 96px 0;
}
@media screen and (min-width: 768px) {
   .footer-container{
    width: 582px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   }

}
@media screen and (min-width: 1158px) {
    .footer-container{
        width: 1158px;
    }
    .footer{
        padding: 100px 0;
    }
}
.footer_logo{
    display: inline-block;
    margin-bottom: 16px;
}
.footer_content{
    margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
    .footer_content {
        text-align: left;
    }

}

.logo_decor{
    color: var(--bg-grey);
}
.footer_description{
    color: var(--bg-grey);
    max-width: 268px;
    margin: 0 auto;
}

.footer_social-media{
        margin-bottom: 72px;
}
.footer-wrapper{
    align-items: baseline;
}
.footer_social-media-title{
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    margin-bottom: 16px;
}
.footer_social{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer_social-item{
    width: 40px;
    height: 40px;
}
.footer_social-link{
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_social-link:hover,
.footer_social-link:focus
{
    background-color:var(--green) ;
}
.footer_social-icon{
    fill: var(--bg-grey);
}

.footer_subscribe-title {
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
   .footer_subscribe{
    width: 453px;
   }
   .footer_subscribe-title{
text-align: left;
   }
   .footer_subscribe-form{
display: flex;
align-items: center;
gap: 24px;
   }

}

.subscribe-form_email {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
padding-left:16px ;
border: 1px solid var(--white);
border-radius: 4px;
background-color: transparent;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

font-family: var(--roboto);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);

    outline: none;
}
@media screen and (min-width: 768px) {
    .subscribe-form_email{
        width: 264px;
        margin-bottom: unset;
    }

}
.subscribe-form_email::placeholder{
    font-family: var(--roboto);
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white);
}

.subscribe-form_btn {
    min-width: 165px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
        border-radius: 4px;
     border: none;
     color: var(--white);
cursor: pointer;
    font-family:var(--roboto);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin: 0 auto;
}
@media screen and (min-width: 768px) {
.subscribe-form_btn{
    margin: unset;
}

}
.subscribe-form_btn:hover,
.subscribe-form_btn:focus{
    background-color: var(--hover);
}


/* PORTFOLIO */
.navigation{
    justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.navigation_btn{
    background-color: var(--bg-grey);
    border: 1px solid  var(--border);
    border-radius: 4px;
    color: var(--blue);
    font-weight: 500;
    cursor: pointer;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1),border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation_btn:hover{
    background-color: var(--hover);
    color: var(--white);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.navigation_btn:focus {
    background-color: var(--hover);
    border: 1px solid transparent;
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects{
    padding: 96px 0 120px 0;
}
.projects_list{
  flex-wrap: wrap;
gap: 48px;
column-gap: 24px;
}
.projects_item{
    background-color: var(--white);
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link{
    display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects_item:hover .projects-link
{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-link:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-link:focus .projects_cover-text{
    transform: translateY(0%);
}
.projects_item:hover .projects_cover-text
{
    transform: translateY(0%);
}
.projects_title{
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.projects_category{
    color: var(--main-color);
}
.projects_wrap-cover{
    position: relative;
    overflow: hidden;
}
.projects_cover-text{
    position: absolute;
    top: 0;
    color: var(--bg-grey);
font-size: 16px;
line-height: 1.5em;
letter-spacing: 0.02em;
padding: 40px 32px;
background-color: var(--blue);
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
    
}


            /* MODAL */
.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) , visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
}
.modal{
    padding: 72px 24px 24px 24px ;
    width: 408px;
    min-height: 584px;
    /* padding: 24px; */
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
top: 52%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
@media screen and (min-width: 1158px) {
    .modal{
        top: 50%;
    }
}
@media screen and (min-width:320px) and (max-width:427px) {
    .modal{
        width: 320px;
    }
}

.modal-close{
    position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
    cursor: pointer;
padding: 0;
border-radius: 50%;
background:var(--border);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border 250ms cubic-bezier(0.4, 0, 0.2, 1)  ;
   color: var(--dark-grey);
}
.modal-close:hover,
.modal-close:focus{
    background-color:var(--hover) ;
    border: none;
    color: var(--white);
}
.modal-close-icon{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: currentColor;
}


.modal_title{
text-align: center;

font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
color: var(--dark-grey);

margin-bottom: 16px;
}
.modal_form-label{
    font-family: var(--roboto);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--custom-border);
display: inline-block;
        margin-bottom: 4px;
        display: block
}
.modal_field-wrap{
    position: relative;
}
.form-field-svg,
.form-field-svg,
.form-field-svg{
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form-input{
    width: 360px;
    height: 40px;
padding-left: 38px;
        border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            outline: transparent;
            background-color: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
                @media screen and (min-width:320px) and (max-width:427px) {
                    .modal_form-input{
                        width: 285px;
                    }
                }
.modal_form-field{
    margin-bottom: 8px;
}
.modal_form-input:focus{
    border-color: var(--blue);
}
.modal_form-input:focus + .form-field-svg{
    fill: var(--blue);
}
.modal_form-field-comment{
    margin-bottom: 16px;
}
.modal_comment{
width: 100%;
height: 120px;
padding: 8px 16px;
outline: transparent;
background-color: transparent;
font-family: var(--roboto);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
border: 1px solid rgba(46, 47, 66, 0.2);
resize: none;
    border-radius: 4px;
color: rgba(46, 47, 66, 0.4);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_comment::placeholder{
    color: rgba(46, 47, 66, 0.4);
}
.modal_comment:focus{
    border-color: var(--blue);
}


.modal_field-wrap--checkbox{
    margin-bottom: 24px;
}
.modal_policy{
            position: relative; 
font-family: var(--roboto);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--custom-border);
            margin-bottom: 24px;
}
.check-box{
    cursor: pointer;
width: 16px;
height: 16px;
padding: 4px 3px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px;
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.policy-link{
    color: var(--blue);
    text-decoration-line: underline;

}
.modal_checkbox:checked + .modal_policy .check-box{
    fill: var(--white);
    border: none;
    background-color: var(--hover);
}
.modal_checkbox:focus +.modal_policy .check-box {
   border-color: var(--hover);
}

.modal-btn{
    display: block;
  margin: 0 auto;
  padding: 16px 32px;
min-width: 169px;
font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
border: none;
    background: var(--blue);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--hover);
}

            /* MODAL */


                  